<header>
  <div class="banner">
    <div>
      <img src="assets/girl.svg" alt="" />
    </div>
    <div>
      <h1>
        <img src="assets/icons/heart.svg" alt="" />
        how to be<br>single forever
      </h1>
    </div>
    <div>
      this is a text
    </div>
  </div>
  <section>
    <div class="home">
      <img class="icon-l" src="assets/icons/home.svg" alt="" />
      <div class="current">
        home
      </div>
    </div>
    <div class="test">
      <img class="icon" src="assets/icons/search.svg" alt="" />
    </div>
  </section>
</header>
