<header>
  <div class="header-banner">
    <div class="header-image">
      <img src="assets/girl.svg" alt="girl texting" />
    </div>
    <div class="header-text">
      <h1>
        <img src="assets/icons/heart.svg" alt="heart" />
        how to be<br />single forever
      </h1>
    </div>
    <div class="mock-text">
      <div>
        <div class="bubble">
          {{text}}
        </div>
        <span>read {{time}}</span>
      </div>
    </div>
  </div>
  <section>
    <div class="container">
      <div class="home">
        <a routerLink="/" aria-label="home"></a>
        <div class="current" *ngIf="notSearch" [class.no-show]="!searchForm.get('searchInput').disabled">
          {{currUrl}}
        </div>
      </div>
      <form class="search" [formGroup]="searchForm">
        <input type="text" *ngIf="!searchForm.get('searchInput').disabled"
          [class.show]="showSearch" formControlName="searchInput" id="searchInput" />
        <button (click)="toggleSearch()" (mousedown)="$event.preventDefault()" aria-label="toggle search input"
          [attr.aria-expanded]="!searchForm.get('searchInput').disabled"></button>
      </form>
    </div>
  </section>
</header>
