<header>
  <div class="banner">
    <div class="header-image">
      <img src="assets/girl.svg" alt="" />
    </div>
    <div class="header-text">
      <h1>
        <img src="assets/icons/heart.svg" alt="" />
        how to be<br>single forever
      </h1>
    </div>
    <div class="mock-text">
      <div>
        <div class="bubble">
          are you ignoring me?
        </div>
        <span>read 12:10pm</span>
    </div>
    </div>
  </div>
  <section>
    <div class="container">
      <div class="home">
        <img class="icon-l" src="assets/icons/home.svg" alt="" />
        <div class="current">
          home
        </div>
      </div>
      <div class="test">
        <img class="icon" src="assets/icons/search.svg" alt="" />
      </div>
    </div>
  </section>
</header>
