<footer>
  <div class="container">
    <nav class="page-links">
      <a routerLink="quizzes" routerLinkActive="active">quizzes</a>
      <a routerLink="dating" routerLinkActive="active">dating</a>
      <a routerLink="lifestyle" routerLinkActive="active">lifestyle</a>
      <a routerLink="about" routerLinkActive="active">about</a>
    </nav>
    <nav class="external-links">
      <a target="_blank" rel="noopener noreferrer" href="https://www.facebook.com/"><img src="assets/social-media/facebook.png" alt="Facebook"/></a>
      <a target="_blank" rel="noopener noreferrer" href="https://github.com/reaganhenke"><img src="assets/social-media/github.png" alt="Github"/></a>
      <a target="_blank" rel="noopener noreferrer" href="https://twitter.com/reaganhenke"><img src="assets/social-media/twitter.png" alt="Twitter"/></a>
      <a target="_blank" rel="noopener noreferrer" href="https://codepen.io/reaganhenke/"><img src="assets/social-media/codepen.png" alt="Codepen"/></a>
      <a target="_blank" rel="noopener noreferrer" href="https://www.instagram.com/reaganhenke/"><img src="assets/social-media/instagram.png" alt="Instagram"/></a>
    </nav>
  </div>
</footer>
