@import '../variables';

footer {
  background-color: $navy;
  padding: 1rem;

  .container {
    margin: auto;
    padding: 0 1rem;
    max-width: 1170px;
    display: flex;
    justify-content: space-between;
  }
}

nav {
  display: flex;
  align-items: center;
  &:first-child a {
    color: #a7a9ac;
    font-family: 'Arbutus Slab', serif;
    font-size: 1rem;
    margin: 8px;
    &.active {
      color: white;
      font-size: 1.3rem;
    }
  }
  &:last-child img {
    height: 40px;
    width: 40px;
    margin: 8px;
  }
}
