@import "../variables";

footer {
  background-color: $navy;
  padding: $medium;
  .container {
    margin: auto;
    padding: 0 $medium;
    max-width: $fixed-maxwidth;
    display: flex;
    justify-content: space-between;
  }
}

nav {
  display: flex;
  align-items: center;
}

.page-links a {
  color: $gray;
  font-family: $arbutus;
  margin: $fixed-s;
  text-decoration: none;
  &.active {
    color: $white;
    font-size: $large-font;
  }
}

.external-links {
  a {
    display: inline-flex;
    img {  
      height: $fixed-m;
      width: $fixed-m;
      margin: $fixed-s;
    }
  }
}
