<div class="featured-post" routerLink="/dating/moveon" tabindex="-1">
  <img class="banner-img" src="assets/moveon/heartbroken.svg" alt=""/>
  <div class="post-preview">
    <a routerLink="/dating/moveon"><h2>How to Get Over Your Ex</h2></a>
    <div class="info">
      <img src="assets/avatar.svg" alt="" />
      <div class="tag-group">
        <span>Dating</span>
        <span>Breakups</span>
        <span>Advice</span>
      </div>
    </div>
    <p>
      So you got dumped. Listen, breakups are hard. I know, I’ve been there.
      But instead of spending night after night crying over him, I’m going to
      tell you exactly how to move on. Here’s how to get over your ex.
    </p>
  </div>
</div>