<div class="white-block">
  <img class="banner" src="assets/morning/morningfull.svg" alt="" />
  <h2>Productive Morning</h2>
  <div class="quote">
      “A solid morning routine offers you control and peace of mind"
      - Mary Kelly
  </div>
  <p>
    A productive morning can set you up for a fantastic day. It's important to 
    maximize those early hours so you stay in control and can roll with any punches
    that come with the rest of your day. Here, I'll share my typical morning routine.
  </p>
  <div class="timeline">
    <div class="entry">
      <strong class="time">7:20am</strong>
      <div class="body">
        Alarm goes off. Hit snooze.
      </div>
    </div>
    <div class="entry">
      <strong class="time">7:29am</strong>
      <div class="body">
        Alarm goes off again. Hit snooze again.
      </div>
    </div>
    <div class="entry">
      <strong class="time">8:02am</strong>
      <div class="body">
        Wake up. Realize that instead of hitting snooze that last time,
        you turned off the alarm entirely, and now you're running late.
      </div>
    </div>
    <div class="entry">
      <strong class="time">8:23am</strong>
      <div class="body">
        Look at Reddit on your phone until you're ready to get out of bed. 
      </div>
    </div>
    <div class="entry">
      <strong class="time">8:30am</strong>
      <div class="body">
        Wash your face. Floss obsessively. Floss again.
      </div>
    </div>
    <div class="entry">
      <strong class="time">8:35am</strong>
      <div class="body">
        Realize a pill is missing from your weekly pill case and fumble 
        through your cabinet until you find the original bottle. It's empty. 
        Text your psychiatrist for a refill and brace yourself for a rough day. 
      </div>
    </div>
    <div class="entry">
      <strong class="time">8:45am</strong>
      <div class="body">
        Look through the fridge. You know you're not going to make breakfast.
        Or lunch. You eye the turkey slices you know you're not going to finish,
        but they're not expired enough to throw out yet.
      </div>
    </div>
    <div class="entry">
      <strong class="time">9:03am</strong>
      <div class="body">
        Leave for work. 
      </div>
    </div>
    <div class="entry">
      <strong class="time">9:04am</strong>
      <div class="body">
        You forgot your security badge. Come back. 
      </div>
    </div>
    <div class="entry">
      <strong class="time">9:05am</strong>
      <div class="body">
        Leave for work. You're very late.
      </div>
    </div>
  </div>
</div>