@import "../../../variables";

.quote {
  font-size: 1.5rem;
  padding-left: 1rem;
  border-left: 3px solid #8B8E92;
  color: #8B8E92;
  width: 55%;
}

.timeline {
  margin: auto;
  position: relative;
}

.timeline::before {
  content: "";
  position: absolute;
  top: 4px;
  left: calc(25% + 13px);
  bottom: 4px;
  width: 4px;
  background: #ddd;
}

.entry {
  display: flex;
  margin: 2rem 1rem;
}

.entry .time {
  width: 25%;
  padding-right: 1rem;
  text-align: right;
}

.entry .body::before {
  content: "";
  position: absolute;
  width: 8px;
  height: 8px;
  border: 4px solid #e7685d;
  background-color: #fff;
  border-radius: 100%;
  top: 0.25rem;
  left: -9px;
}

.entry .body {
  width: 75%;
  position: relative;
  padding-left: 1rem;
}

@media only screen and (max-width: $screen-mobile) {
  .quote {
    width: 100%;
  }

  .entry {
    flex-direction: column;
  }

  .entry .time {
    padding-right: 0;
    padding-left: 1rem;
    text-align: left;
  }

  .entry .body::before {
    top: -1.1rem;
  }

  .timeline::before {
    left: calc(1rem - 2px);
  }
}
