<div class="white-block">
  <img class="banner" src="assets/laptopgirl.svg" alt="" />
  <h2>About</h2>
  <p>
    <i>How to Stay Single Forever</i> is a parody dating blog created by me,
    Reagan. I’m a front end developer and passionate about accessibility, so I
    wanted to challenge myself to build a full site with lots of features and
    functionality, while keeping it all accessible and using my own designs.
  </p>
  <br>
  <p>
    Dating as a new adult is difficult. The content on this site is all
    inspired, in some way, by my own experiences. I’m fine though. Don’t worry.
  </p>
</div>
