<div class="white-block">
  <img class="banner" src="assets/laptopgirl.svg" alt="" />
  <h2>About</h2>
  <p>
    <em>How to Stay Single Forever</em> is a parody dating blog. It's a static site built with Angular.
    I wanted to challenge myself to build a full site with lots of features and
    functionality, while keeping it all accessible and using my own designs.
  </p>
  <p>All the icons on the site were created by me. Many of the images were taken from or based on content
    from <a routerLink="https://undraw.co/" target="_blank">undraw.co</a>. Other images are credited
    where they appear.
  </p>
  <p>There's more information about the technical side of the side on the project's readme, which
    you can find on <a routerLink="https://github.com/reaganhenke/singleforever" target="_blank">Github</a>.
    I encourage you to explore the site here instead, and see if you can find all the content!
  </p>
  <p>
    The content on this site is all inspired, in some way, by my own experiences. Dating is hard. 
    I’m fine though. Don’t worry.
  </p>
  <p>
    Also, because this is based on my own life, it's pretty heteronormative. Sorry about that.
    I hope you still enjoy it even if you don’t identify with it. 
  </p>
</div>
