<div class="featured-post" routerLink="./morning" tabindex="-1">
  <img class="banner-img" src="assets/morning/morning.svg" alt=""/>
  <div class="post-preview">
    <a routerLink="./morning"><h2>Productive Morning</h2></a>
    <div class="info">
      <img src="assets/avatar.svg" alt="" />
      <div class="tag-group">
        <span>Lifestyle</span>
        <span>Productivity</span>
      </div>
    </div>
    <p>
      A productive morning can set you up for a fantastic day. It's important to 
      maximize those early hours so you stay in control. Here's my favorite morning routine.
    </p>
  </div>
</div>