@import "../../../variables";

h2 {
  margin: 0;
  font-size: 2.25rem;
}

h3 {
  font-size: 1.5rem;
  margin-top: 0;
}

.inner-block {
  width: 100%;
  border: 2px solid #b7b7f9;
  display: flex;
  align-items: center;
  padding: 2rem;
  box-sizing: border-box;
  img {
    min-width: 30%;
  }
}

.inner-block>span {
  width: 30px;
}

.text {
  padding: 2rem;
}

.back, .forward {
  position: relative;
  height: 63px;
  width: 30px;
  border: 0;
  background: transparent;
}

.back::before, .forward::before,
.back::after, .forward::after {
  content: "";
  position: absolute;
  width: 0; 
  height: 0;
  top: 0;
  left: 0; 
  border-top: 30px solid transparent;
  border-bottom: 30px solid transparent;
  cursor: pointer;
  transition: top 0.1s linear, left 0.1s linear;
}

.back {
  &::after {
    border-right: 30px solid #b7b7f9;
  }
  &:hover::before, &:focus::before {
    top: 3px;
    left: -2px;
    border-right: 30px solid #7272b4;
  }
}

.forward {
  &::after  {
    border-left: 30px solid #b7b7f9;
  }
  &:hover::before, &:focus::before  {
    top: 3px;
    left: 2px;
    border-left: 30px solid #7272b4;

  }
}

.content {
  position: relative;
  flex-grow: 1;
  height: 100%;
}

.wrapper {
  display: none;
  height: 100%;
  width: 100%;
  transition: opacity 0.4s;
}

.active {
  opacity: 1;
  display: flex;
}

@media only screen and (max-width: $screen-tablet) {
  .wrapper img {
    display: none;
  }

  .inner-block {
    padding: 1rem;
  }

  .text {
    padding: 1rem;
  }
}

@media only screen and (max-width: $screen-mobile) {
  .inner-block {
    padding: 0.25rem;
  }

  .text {
    padding: .25rem;
  }
}