<div class="featured-post" routerLink="./red" tabindex="-1">
  <img class="banner-img" src="assets/redflags1.svg" alt=""/>
  <div class="post-preview">
    <a routerLink="./red"><h2>Can You Identify the Red Flags?</h2></a>
    <div class="info">
      <img src="assets/avatar.svg" alt="" />
      <div class="tag-group">
        <span>Quiz</span>
        <span>Dating</span>
      </div>
    </div>
    <p>
      You just started dating someone new. Which of these behaviors are totally normal,
      and which are red flags? Remember, he’s like, super cute. Can you catch all the red flags,
      even with your rose-colored glasses on?
    </p>
  </div>
</div>