@import "../../../variables";

.answers {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  input {
    width: 48%;
    height: 8rem;
    margin: 0.25rem;
    border: 0;
    background-color: $navy;
    color: white;
    border-radius: 5px;
    font-size: 2rem;
    transition: font-size 0.2s;
    cursor: pointer;
    &:hover, &:focus {
      font-size: 2.2rem;
    }
    &.not-selected {
      background-color: #487E8E;
      &:hover {
        background-color: $navy;
      }
    }
  }
}

.disabled .answers input {
  pointer-events: none;
  &:hover, &:focus {
    font-size: 2rem;
  }
  &.not-selected:hover {
    background-color: #487E8E;
  }
}

.flex {
  display: flex;
  flex-direction: column;
}

.submit-button {
  border-radius: 5px;
}
