@import "../../../variables";

.answers {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  input {
    width: 48%;
    height: 8rem;
    margin: 0.25rem;
    border: 0;
    background: $navy;
    color: white;
    border-radius: 5px;
    font-size: 2rem;
    transition: font-size 0.2s;
    padding: 1rem;
    white-space: normal;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    cursor: pointer;
    &:hover, &:focus {
      font-size: 2.2rem;
    }
    &.not-selected {
      background-color: #487E8E;
      &:hover, &:focus {
        background-color: #294046;
      }
    }
  }
}

.disabled .answers input {
  pointer-events: none;
  &:hover, &:focus {
    font-size: 2rem;
  }
  &.not-selected:hover, &.not-selected:focus {
    background-color: #487E8E;
  }
}

.results h3 {
  font-size: 1.5rem;
  span {
  font-size: 1.2em;
  }
}

.flex-row {
  display: flex;
  flex-direction: row;
}

.flex-col {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.submit-button {
  border-radius: 5px;
}

.results {
  margin-top: 1rem;
  padding: 0rem 1rem;
}

.boy {
  height: 300px;
  margin-right: 2rem;
}

@media only screen and (max-width: $screen-tablet) {
  .answers input {
    width: 100%;
  }

  .results .boy {
    display: none;
  }
}