<div class="white-block">
  <span class="label">quiz</span>
  <img class="banner" src="assets/whodate_long.svg" alt="" />
  <h2>Who's Your Dream Date?</h2>
  <p>Elevator Boy&trade;. Metro Boy&trade;. Breakroom Boy&trade;. Instagram Boy&trade;. The world is full of eligible
    bachelors, but who's the right one for you? This quiz will reveal who you're meant to be with! </p>
  <article>

    <form [formGroup]="whoDateForm" [class.disabled]="whoDateForm.disabled">
      <div class="form-field" *ngFor="let question of questions; let indexa=index;" formArrayName="{{question.question}}">
        <h3>{{question.question}}</h3>
        <div class="answers">
          <input type="button" (click)="select(question.question, answer.result)"
            *ngFor="let answer of question.answers; let indexb=index"
            [class.not-selected]="whoDateForm.get(question.question).value && whoDateForm.get(question.question).value !== answer.result"
            value="{{answer.option}}" (mousedown)="$event.preventDefault()"/>
        </div>
      </div>

      <button (click)="submit()" *ngIf="!winner" [disabled]="!whoDateForm.valid" class="submit-button">Show me my results!</button>
    </form>

    <div *ngIf="winner" class="results">
      <h3>You got <span>{{winner}}&trade;</span></h3>
      <div class="flex-row">
        
        <div *ngIf="winner === 'Metro Boy'"> 
          <img class="boy" src="assets/boys/metro.svg" alt="" />
        </div>
        <div *ngIf="winner === 'Elevator Boy'">
          <img class="boy" src="assets/boys/elevator.svg" alt="" />
        </div>
        <div *ngIf="winner === 'Breakroom Boy'">
          <img class="boy" src="assets/boys/breakroom.svg" alt="" />
        </div>
        <div *ngIf="winner === 'Instagram Boy'">
          <img class="boy" src="assets/boys/instagram.svg" alt="" />
        </div>

        <div class="flex-col">
          <div> 
            <div *ngIf="winner === 'Metro Boy'"> 
              <p>You got Metro Boy&trade;! You had the most romantic meet
                cute with him on the metro. You work up the nerve to
                ask him out, but he’s already dating someone else. </p>
            </div>
            <div *ngIf="winner === 'Elevator Boy'">
              <p>You got Elevator Boy&trade;! Every time you cross paths,
                you both blush and smile at each other. You promise yourself,
                the next time you see him, you’ll ask him out. He moves out of
                your building and you never see him again</p>
            </div>
            <div *ngIf="winner === 'Breakroom Boy'">
              <p>You got Breakroom Boy&trade;! Sweet and comfortable, he knows 
                just how to make you laugh. There’s no chemistry between you, and never will be.</p>
            </div>
            <div *ngIf="winner === 'Instagram Boy'">
              <p>You got Instagram Boy&trade;! You’ve met him once or twice,
                but he doesn’t remember your name. You’ll always watch
                his stories and like his posts, but he will literally never notice you.</p>
            </div>
            <div class="redo">Want to try again?<button aria-label="Reset" (click)="reset()"><img src="assets/icons/redo.svg" alt=""/></button></div>
          </div>
          <div class="sharing">
            <button class="fb share-button" (click)="share()" aria-label="Share to Facebook"><img src="assets/social-media/facebook.png" alt=""/>Share</button>
            <button class="twitter share-button" (click)="tweet()"><img src="assets/social-media/twitter_white.png" alt=""/>Tweet</button>
            <div class="link-sharing">
              <span [class.show]="copied">copy successful</span>
              <button ngxClipboard [cbContent]="href" class="share-button" (cbOnSuccess)="copySuccess()"><img src="assets/icons/link.svg" alt=""/>Copy Link</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </article>
</div>
