<div class="white-block">
  <img class="banner" src="assets/ghost/ghostfull.svg" alt="" />
  <h2>Are you being ghosted?</h2>
  <p>
    Lorem ipsum, dolor sit amet consectetur adipisicing elit.
    Ipsum dicta temporibus, provident consequuntur, saepe quia dolorum
    obcaecati praesentium ea alias accusamus ullam totam? Officiis, ab?
    Impedit iste nostrum deserunt accusantium?
  </p>
  <div class="texts">
    <div class="him">
        <span>bye bye</span>
    </div>
    <div id="her">
      <span>aslfkj</span>
      <span>aslfkj</span>
      <span>aslfkj</span>
      <span>aslfkj</span>
      <span>aslfkj</span>
      <span>aslfkj</span>
      <span>aslfkj</span>
      <span>aslfkj</span>
      <span>aslfkj</span>
      <span>aslfkj</span>
      <span>aslfkj</span>
    </div>
  </div>
</div>