<div class="white-block">
  <img class="banner" src="assets/ghost/ghostfull.svg" alt="" />
  <h2>Are you being ghosted?</h2>
  <p>
    Being ghosted can be really confusing. Is he ever going to respond? 
    Maybe he’s just busy, you tell yourself. But listen, you’re being ghosted. 
    Probably. Or maybe not! It’s hard to tell when you’re actually being ghosted, 
    so I’ll share this example from the last time I dated someone. At some point, 
    I got ghosted, can you tell when?
  </p>
  <div id="texts" (scroll)="onScroll()">
    <div class="right">
      <span>Hey!</span>
      <span>excited to see you tonight :)</span>
    </div>
    <div class="left">
      <span>yeah</span>
    </div>
    <div class="right">
      <span>You've been kinda distant lately..</span>
      <span>everything ok?</span>
    </div>
    <div class="left">
      <span>yup</span>
    </div>
    <div class="right">
      <span>ok...</span>
    </div>
    <div class="left">
      <span>sorry if i led you on</span>
    </div>
    <div class="right">
      <span>what are you talking about?</span>
      <span>are we still on for dinner tonight?</span>
    </div>
    <div class="left">
      <span>i have to study</span>
    </div>
    <div class="right">
      <span>so, no?</span>
      <span>hello?</span>
    </div>
    <div class="left">
      <span>sorry</span>
    </div>
    <div class="right">
      <span>i don't get it, are you ending things between us?</span>
    </div>
    <div class="left">
      <span>i guess i am</span>
      <span>can i call you sometime when i'm free again?</span>
    </div>
    <div class="right">
      <span>i mean, yeah? what's going on?</span>
    </div>
    <div class="right" id="her">
    </div>
  </div>
</div>