// Colors
$navy: #122226;
$salmon: #e7685d;
$white: #fff;
$gray: #a7a9ac;

// Font Sizes
$large-font: 1.4rem;

// Responsive Sizes
$x-small: 0.25rem;
$small: 0.5rem;
$medium: 1rem;
$large: 2rem;
$x-large: 3rem;

// Fixed Sizes
$fixed-s: 8px;
$fixed-m: 32px;
$fixed-l: 64px;
$fixed-xl: 208px;
$fixed-maxwidth: 1120px;

// Fonts
$arbutus: "Arbutus Slab", serif;
$shrikhand: "Shrikhand", cursive;
