@import "../../../variables";

.form-field {
  display: flex;
  align-items: center;
  position: relative;
  margin: 0.5rem 0;
  border: 2px solid transparent;


  input[type="checkbox"] {
    position: absolute;
    height: 19px;
    width: 19px;
    top: 0;
    opacity: 0;
    cursor: pointer;

    &:focus ~ span {
      outline: -webkit-focus-ring-color auto 5px;
    }

    &:checked ~ span::after {
      display: block;
    }
  }

  span {
    height: 14px;
    width: 14px;
    min-width: 14px;
    margin: 4px;
    border: 3px solid $salmon;
    border-radius: 3px;
    position: relative;
    pointer-events: none;
  }

  span::after {
    content: "";
    position: absolute;
    top: 0px;
    left: 4px;
    height: 10px;
    width: 4px;
    border: solid $salmon;
    border-width: 0px 2px 2px 0px;
    transform: rotate(45deg);
    display: none;
  }
}

.form-field:hover, .form-field:focus {
  border: 2px solid #ccc8c8;
  border-radius: 3px;
}

.form-field.disabled {
  color: $gray;
  pointer-events: none;

  span, span::after {
    border-color: #f9958d;
  }
}

.graph {
  position: relative;
  width: 40px;
  height: 150px;
  background-color: #ddd;
  margin: 2rem 1rem;
  border-radius: 4px;
  span {
    top: -18px;
    left: -1px;
    position: absolute;
    color: crimson;
    font-size: 0.9rem;
  }
}

.bar {
  border-radius: 4px;
  position: absolute;
  bottom: 0;
  height: 0%;
  width: 100%;
  background-color: $salmon;
  transition: 1s height;
  min-height: 3px !important;
}
