<div class="featured-post" routerLink="./red">
  <img class="banner-img" src="assets/placeholders/placeholder5.jpg" alt=""/>
  <div class="post-preview">
    <a routerLink="./red"><h2>Red Flags</h2></a>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Blanditiis
      minima, rem fugit tempore itaque dicta incidunt, omnis distinctio
      architecto non eius magnam, placeat beatae cupiditate iure laboriosam.
      Animi, recusandae perspiciatis...
    </p>
  </div>
</div>

<div class="featured-post" routerLink="./whodate">
  <img class="banner-img" src="assets/placeholders/placeholder5.jpg" alt=""/>
  <div class="post-preview">
    <a routerLink="./whodate"><h2>Who should you date?</h2></a>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Blanditiis
      minima, rem fugit tempore itaque dicta incidunt, omnis distinctio
      architecto non eius magnam, placeat beatae cupiditate iure laboriosam.
      Animi, recusandae perspiciatis...
    </p>
  </div>
</div>