<div class="featured-post" routerLink="./red">
  <img class="banner-img" src="assets/redflags1.svg" alt=""/>
  <div class="post-preview">
    <a routerLink="./red"><h2>Can You Identify the Red Flags?</h2></a>
    <p>
      You just started dating someone new. Which of these behaviors are totally normal,
      and which are red flags? Remember, he’s like, super cute. Can you catch all the red flags,
      even with your rose-colored glasses on?
    </p>
  </div>
</div>

<div class="featured-post" routerLink="./whodate">
  <img class="banner-img" src="assets/whodate.svg" alt=""/>
  <div class="post-preview">
    <a routerLink="./whodate"><h2>Who's Your Dream Date?</h2></a>
    <p>
      Elevator Boy&trade;. Metro Boy&trade;. Breakroom Boy&trade;. Instagram Boy&trade;. 
      The world is full of eligible bachelors, but who's the right one for you? This quiz 
      will reveal who you're meant to be with!
    </p>
  </div>
</div>