@import "../variables";

form {
  display: flex;
  flex-direction: column;
}

.white-block {
  position: relative;
}

h2 {
  margin: 0;
  font-size: 2.25rem;
}

.label {
  position: absolute;
  right: 0.5rem;
  top: -1.5rem;
  width: $fixed-l;
  height: $fixed-l;
  color: $white;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background-color: $salmon;
  letter-spacing: 0.06rem;
  font-weight: 600;
  font-size: 1.2rem;
  font-family: $shrikhand;
  transform: rotate(10deg);
}

.results {
  border: solid $salmon;
  border-width: 2rem 1rem 0.5rem;
  display: flex;
  flex-direction: column; 
}

.results>div {
  display: flex;
}

.redo {
  display: flex;
  align-items: center;

  button {
    margin: 0;
    padding: 0;
    outline: 0;
    border: none;
    background-color: transparent;
    cursor: pointer;
  }

  img {
    height: 19px;
    margin: 3px;
  }
}

.sharing {
  display: flex;
  flex-wrap: wrap;
}

.submit-button {
  margin: 1rem 0;
  padding: 1rem;
  background-color: $salmon;
  font-family: $crimson;
  font-size: 1.25rem;
  border: none;
  outline: none;
  color: $white;
  cursor: pointer;
  transition: background-color 0.2s;
  &:hover, &:focus {
    background-color: #c15148;
  }
  &:disabled {
    background-color: #efa9a3 !important;
    pointer-events: none;
  }
}