@import "app/variables";

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: $crimson;
}

body {
  background: repeating-linear-gradient(
    to right,
    #88d1ce,
    #88d1ce 25px,
    #79c6c1 25px,
    #79c6c1 40px
  );
}
