@import "app/variables";

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: $crimson;
}

body {
  background: repeating-linear-gradient(
    to right,
    #88d1ce,
    #88d1ce 25px,
    #79c6c1 25px,
    #79c6c1 40px
  );
}

main {
  margin: 3rem;
  width: calc(100% - 6rem);
  max-width: 944px;
  display: flex;
  align-self: center;
  & > *:last-child {
    width: 100%;
  }
}

.featured-post {
  display: flex;
  width: 100%;
  background-color: $white;
  margin: $large 0;
  cursor: pointer;
  &>img {
    background-color: #a1d4d2;
    outline: 12px solid white;
    outline-offset: -12px;
  }
  a {
    font-size: 1.25;
    color: #000;
    text-decoration: none;
    &:hover, &:focus {
      color: $link-hover;
    }
  }
}

.banner-img {
  width: 30%;
  object-fit: cover;
}

.banner {
  max-height: 365px;
  object-fit: cover;
  object-position: 0 0;
}

.post-preview {
  width: 70%;
  box-sizing: border-box;
  padding: $medium;
  overflow: scroll;
  h2 {
    font-family: $arbutus;
    font-size: 2rem;
    margin-bottom: 0.5rem;
    margin-top: 0;
  }
}

.white-block {
  width: 100%;
  height: 100%;
  background-color: $white;
  padding: 2rem;
  box-sizing: border-box;
}

@media only screen and (max-width : 600px) {
  .featured-post {
    flex-direction: column;
  }

  .banner-img {
    width: 100%;
    height: 200px;
    object-position: 0 0;
    object-fit: cover;
  }

  .post-preview {
    width: 100%;
  }
}

@media only print {
  header, footer, .not-print{
    display: none !important;
  }
}
