<div class="white-block">
  <form class="searched" [formGroup]="searchedForm" (submit)="closeSearch()">
    <input
      type="text"
      formControlName="searchInput"
      id="searched-input"
      aria-label="searched input"
    />
    <button
      (mousedown)="$event.preventDefault()"
      aria-label="close search"
    ></button>
  </form>
  <p>
    Oh boy, alright, you caught me. There’s no back-end in this project,
    it’s all just pretty stuff, so the search bar isn’t actually going to
    do anything. Real sorry about that. Don’t tell anyone, ok? 
  </p>
</div>
