<div class="featured-post" routerLink="./moveon">
  <img class="banner-img" src="assets/moveon/heartbroken.svg" alt=""/>
  <div class="post-preview">
    <a routerLink="./moveon"><h2>How to Get Over Your Ex</h2></a>
    <p>
      So you got dumped. Listen, breakups are hard. I know, I’ve been there.
      Your heart hurts, you might’ve left a drunk voicemail or two or three.
      But instead of spending night after night crying over him, I’m going to
      tell you exactly how to move on. Here’s how to get over your ex.
    </p>
  </div>
</div>

<div class="featured-post" routerLink="./ghosted">
  <img class="banner-img" src="assets/ghost/ghost.svg" alt=""/>
  <div class="post-preview">
    <a routerLink="./ghosted"><h2>Are You Being Ghosted?</h2></a>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Blanditiis
      minima, rem fugit tempore itaque dicta incidunt, omnis distinctio
      architecto non eius magnam, placeat beatae cupiditate iure laboriosam.
      Animi, recusandae perspiciatis...
    </p>
  </div>
</div>