@import "../variables";

main {
  margin: 3rem auto;
  padding: 0 $large;
  max-width: 944px;
  height: 100%;
}

nav {
  display: flex;
  justify-content: space-between;
}

a {
  height: $fixed-xl;
  width: $fixed-xl;
  border: 12px solid $white;
  background-size: auto 100%;
  background-position-x: 40%;
  color: #000;
  span {
    position: absolute;
    margin-left: -24px;
    margin-top: -24px;
    padding: $x-small $small;
    font-size: $large-font;
    background-color: $salmon;
    font-family: $shrikhand;
  }
  &:nth-child(1) {
    background-image: url("../../assets/placeholders/placeholder1.jpg");
  }
  &:nth-child(2) {
    background-image: url("../../assets/placeholders/placeholder2.jpg");
  }
  &:nth-child(3) {
    background-image: url("../../assets/placeholders/placeholder3.jpg");
  }
}

.featured-post {
  width: 100%;
  background-color: $white;
  margin: $large 0;
}

.banner-img {
  width: 100%;
  object-fit: cover;
  max-height: 350px;
}

.post-preview {
  padding: $medium $large;
  min-height: $fixed-xl;
  overflow: scroll;
  h2 {
    font-family: $arbutus;
  }
}

.info {
  display: flex;
  img {
    height: $fixed-l;
    margin-right: $medium;
  }
}

.tag-group {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.tag-group span {
  background-color: $salmon;
  border-radius: $x-small;
  padding: $x-small $small;
  margin: $small $small 0 0;
}

@media only screen and (max-width : 800px) {
  nav {
    flex-direction: column;
    a {
      width: 100%;
      margin: 1rem 0;
      box-sizing: border-box;
      background-size: 100%;
      background-position-y: 35%;
      display: flex;
      justify-content: center;
      align-items: center;
      @media only screen and (max-width : 365px) {
        background-size: auto 100%;
      }
      span {
        margin: 0;
      }
    }
  }
}