<nav>
  <a routerLink="/quizzes"><span>Quizzes</span></a>
  <a routerLink="/dating"><span>Dating</span></a>
  <a routerLink="/lifestyle"><span>Lifestyle</span></a>
</nav>
<div class="featured-post">
  <img class="banner-img" src="assets/placeholders/placeholder5.jpg" alt="" />
  <div class="post-preview">
    <div class="info">
      <img src="assets/avatar.svg" alt="" />
      <div class="tag-group">
        <span>Tinder</span>
        <span>sot</span>
        <span>Dating</span>
      </div>
    </div>
    <h2>Blog Title</h2>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Blanditiis
      minima, rem fugit tempore itaque dicta incidunt, omnis distinctio
      architecto non eius magnam, placeat beatae cupiditate iure laboriosam.
      Animi, recusandae perspiciatis...
    </p>
  </div>
</div>
