<div class="featured-post" routerLink="./ghosted" tabindex="-1">
  <img class="banner-img" src="assets/ghost/ghost.svg" alt=""/>
  <div class="post-preview">
    <a routerLink="./ghosted"><h2>Are You Being Ghosted?</h2></a>
    <div class="info">
      <img src="assets/avatar.svg" alt="" />
      <div class="tag-group">
        <span>Dating</span>
        <span>Ghosting</span>
        <span>Texts</span>
      </div>
    </div>
    <p>
      Being ghosted can be really confusing. Is he ever going to respond? 
      Maybe he’s just busy, you tell yourself. But listen, you’re being ghosted. 
      Probably. Take a look at this example and see if you can figure it out!
    </p>
  </div>
</div>